#load, #imagePanel{
	position: absolute;
	width: 100%;
	height: 100%;
	
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	
}
#load{
	background: #000 url('img/loader.gif') center no-repeat;
	
}
#imagePanel{
	z-index: 18;
}
#imagePanel, #imageClickedDiv{
	background: #000 center no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
}
#imageClicked{
	z-index: 19;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
#imageClickedDiv{
	z-index: 19;
	width: 100%;
	height: 300px;
	top: 42px;
	right: 0;
	left: 0;
	text-align:center;
	overflow: scroll;
}
.loaded, .hide{
	display: none;
}
.loading, .show{
	display: block;
	z-index: 99999;
}

.mainWrapper{
	width: 100%;
	overflow:scroll;
}
.mainScroller{
	position:absolute; 
	width: 100%;
/* 	height: 800px; */
}

.swipeView{
	position: relative;
	padding-top: 40px;
	white-space: nowrap;
}

#wrapper, .wrapper {
/* 	z-index:10; */
	width: 100%;
	overflow:scroll;
 	white-space: nowrap; 
 	text-align: right;
}
#wrapper, .wrapper, .cameraContainerDiv{
	background: #000 url('img/backgroundForImagesScroll.png') repeat-x ;
	background-size: 20px 100px;
}

#scroller, .scroller {

/* 	z-index:10; */
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	margin-left: 130px;
	padding:0;
	display: inline-block;
}
#scroller td, .scroller td{
	vertical-align: middle !important;
	
}

#scroller, .scroller, .cameraContainerDiv, .wrapper{
	height: 100px !important;
}

.titleDiv{
	position: absolute;
	top: 10px;
	left: 30px;
	
	font-size: 2em;
	color: #f00;
	
/* 	z-index: 20; */
	background-color: transparent;
}

.imagePanel, .image{
	height: 36px;
}
.imagePanel {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	padding-top: 29px;
}
.image{
	margin-right: 10px;
}
.imageSelected{
	border: #f00 4px solid;
}

.cameraContainerDiv{
	position: absolute;
 	width: 128px;/*  .cameraDiv width + .cameraDiv left */
/*  	height: 350px; like .wrapper */
	z-index: 11;
	top: 40px;
	
/* 	background: transparent url('img/backgroundForImagesScroll.png') repeat-x ; */
	
}
.cameraDiv, .androidForm{
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -15px;
	z-index: 15;
}
.cameraDiv img{
	height: 30px;
}
.androidForm, .androidForm input{
	width: 120px;
	height: 30px;
}
.androidForm{
	margin-top: -5px;
}

.flowPanelButtonsVisible{
	width: 100px;
	height: 35px;
/* 	z-index: 1000; */
	position: absolute;
	top: 10px;
	text-align: center;
	
}

.hiddenPanel{
	display: none;	
}

.txtLabel{
	position: absolute;
	top: 8px;
	left: 28px;
	color: #fff;
}

#tooltip{
	position: absolute;
	top: 150px;
	z-index: 20;
}

.toolPanel{
	width: 500px;
	top: 30px;
}

.jsonArea{
	width: 150px;
	height: 500px;
	border: 2px solid black;
}

.goodJson{
	margin: 5px;
}

.addCity{
	margin: auto;
	text-align: center;
}


.details{
	width: 50px;
	height: 20px;
	margin-top: -25px;
	margin-bottom: 5px;
	font-size: 10px;
}

.detailsContent{
	font-size: 10px;
	color: red;
}

.redShadow {
	-moz-box-shadow: 0px 0px 10px 1px red !important;
	-webkit-box-shadow: 0px 0px 10px 1px red !important;
	box-shadow: 0px 0px 10px 1px red !important;
	min-height: 12px;
}
.greenShadow {
	-moz-box-shadow: 0px 0px 10px 1px green !important;
	-webkit-box-shadow: 0px 0px 10px 1px green !important;
	box-shadow: 0px 0px 10px 1px green !important;
}
