@IMPORT url("main.css");

body{ 
	margin: 0px !important;
	padding: 0px !important;
}

.myPage{ /* cala strona */
	position: relative  !important;
	left: 0px  !important;
	right: 0px  !important;
	
	width: 960px  !important;;
	max-width: 960px  !important;
	
	margin: 0px !important;
	margin-left: auto  !important;
	margin-right: auto  !important;
	padding: 0px !important;
	
	background: url("/img/layout/background.png") repeat #eee !important;
	
	-webkit-box-shadow: 3px 5px 38px -3px #000 !important;
          	box-shadow: 3px 5px 38px -3px #000 !important;

}
.myPageContent{ /* jqm'owy content */

	width: 960px  !important;;
	max-width: 960px  !important;
	
	margin: 0px !important;
	padding: 0px !important;

}
.myHeader{
	position: relative;
}
.malinaPanel{  /* gorny pasek */
	height: 30px  !important;
	background: url("/img/layout/headerBackgroundRed.png") repeat #BF2135  !important;
}
.headerPanel{  /* nagłwek dla buttonów i nazwy strony */
	position: relative;
	height: 70px;
	background: url("/img/layout/headerBackgroun.png") repeat-x #818181  !important;
}
.headerTitle{
	
	margin: auto;
	
	line-height: 64px;
	text-align: center;
	
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 35px;
	color: white;
}
.headerLeftButton{
	position: absolute;
	top: 0px;
	left: 7px;
}
.logoPanel{
	position: absolute  !important;

	left: 391px !important;
	top: 47px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.myButton{
	display: inline-block;
	min-width: 120px;
	height: 58px;
	line-height: 54px ;
	text-align: center ;
}
.borderButton{
	border: #656263 solid;
	border-width: 2px 1px 1px 1px;
	border-radius: 14px;
		-moz-border-radius: 14px;
		-webkit-border-radius: 14px;
}
.borderLabel{
	line-height: 54px ;
	text-align: center ;
	
	border: #c1c1c1 2px solid !important ;
	
	border-radius: 14px !important;
		-moz-border-radius: 14px !important;
		-webkit-border-radius: 14px !important;
}
.myTextLabel{
	color: #fff;
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0px -2px #000;
	
}

.addButton{
	top: 12px !important;
	min-width: 55px !important;
	background: url("img/layout/plus.png") no-repeat;
}
.saveButton{
	top: 13px !important;
	height: 44px !important;
	background: url("img/layout/save.png") !important;
}
.itemList{
	width: 100%;
	height: 62px;
	padding-left: 14px;
	
	border-bottom: 2px solid #b6b6b6;
	background-color: #FeFeFe;
	
	line-height: 62px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #797979;
	text-align: left;
	
}
.itemList:HOVER{
	background-color: #ddd;
}
.arrowButtonPart{
	position: absolute;
	top: 0px;
	left: 1px;
	width: 21px;
	height: 44px;
	
	background: url("img/layout/arrowForBackButton.png");
}

.labelBackButton{
	position: absolute;
	left: 22px;
	display: inline-block;
	min-width: 52px;
	height: 40px;
	
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	
	
	border: #656263 solid;
	border-width: 2px 2px 2px 0px;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	background: url("img/layout/backButtonBackground.png");
	
	-webkit-box-shadow: -1px 3px 3px -3px #fff !important;
         	box-shadow: -1px 3px 3px -3px #fff !important;
}

.mainPanelBackButton{
	position: absolute;
	top: 15px;
	width: 150px;
}

.rightButton{
	position: absolute;
	right: 0px;
	top: 5px;
	min-width: 120px;
}

.noFocus, .noFocus:FOCUS{
	outline: none !important;
}
.hidden{
	display: none;
}
.pointer{
	cursor: pointer;
}
/*********************************
 * ogolny styl dla label i texBox*
 *********************************/
.myLabel, .myTextBox{	
	float: left !important;
	
	background: #fff !important;
	
	border-top-left-radius: 14px !important;
		-moz-border-top-left-radius: 14px !important;
		-webkit-border-top-left-radius: 14px !important;
	
	border-bottom-left-radius: 14px !important;
		-moz-border-bottom-left-radius: 14px !important;
		-webkit-border-bottom-left-radius: 14px !important;
	
}
.myTextBox{
	display: inline-block !important;
}

/* KONIEC - ogolny styl dla label i texBox */

/* 
 * ogolny styl dla listy rozwijanej - MyListCombo.java
 */
.listCombo{
	position: relative;
	width: 400px;
	height: 59px;
	
	background: url("/img/layout/listComboBackground.png") repeat-X #eee;
	text-align: right;
}
.panelForArrow{
	position: absolute;
	right: 0px;
	width: 62px;
	height: 57px;
		
	background: url("/img/layout/panelForArrowInComboListBackground.png") repeat-X #999;
}
.whiteArrow, .blackArrow{
	position: absolute !important;
	left: 20px;
	
	width: 0px;
	height:0px;
	
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
.whiteArrow{
	top: 20px;
	border-top: 18px solid rgba(255, 255, 255, 1);
}
.blackArrow{
	top: 25px;
	border-top: 18px solid rgba(0, 0, 0, 1);
}
.listComboScrollPanel{
	position: absolute !important;
	top: 15px;
	z-index: 1;	
	width: 331px;
	height: 95px;

	background: url("/img/layout/comboListExpandedBackground.png") repeat-X #f5f5f5;
	
  	-webkit-box-shadow: -6px 5px 12px -3px #000 !important;
          	box-shadow: -6px 5px 12px -3px #000 !important;
}
.expandedPanel{
	
}
.myListComboItem{
	width: 330px;
	height: 28px;
}
.comboListItemLabel{
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #797979;
}
.comboListItemLabel:HOVER{
	background-color: #ddd;
}
.comboListLabel{
	position: absolute;
	top: 15px;
	right: 70px;
}
.selected{
	background-color: #e2abb2;
}
/* KONIEC - ogulny styl dla listy rozwijanej */

 /* Login screen */
.namePanel, .passwordPanel{  /* panele na label i pole do wprowadzenia tekstu */
	position: absolute !important;
	right: 94px !important;
	
	height: 60px !important;
	width: 80% !important;
	
	margin: 20px 0px 0px 0px !important;
	padding: 0px;
	background: #fff !important;

	border: #c1c1c1 2px solid !important ;
	border-radius: 14px !important;
		-moz-border-radius: 14px !important;
		-webkit-border-radius: 14px !important;	
}
.namePanel{
	top: 115px;
}
.passwordPanel{
	top: 192px;
}
.loginButtonPanel{
	position: absolute;
	top: 360px;
	right: 94px;
}
.nameLabel, .passwordLabel{
	min-width: 35% !important;	
	height: inherit !important;

	margin-right: 10px !important;
	padding-right: 10px !important;
	
	border-right: solid !important;
	border-right-width: 2px !important;
	border-right-color: #c1c1c1 !important;
	
	line-height: 60px !important;
	text-align: right !important;
	color: #8a8b8e !important;
	font-weight: bold !important;
	font-size: 18px !important;

}
.nameBox, .passwordBox, .nameBox:FOCUS, .passwordBox:FOCUS{
	height: inherit !important;
	width: 60% !important;	
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
	background: #fff !important;
	background-image: none !important;
	
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none !important;
}
.languageCombo{
	position: absolute;
	right: 94px;
	top: 300px;
}

 /* KONIEC - Login screen */
 
 /*
 * Add City Screen
 */
.addCityWrapper{
	position: absolute;
	width: 100%;
	margin-top: 10px;
	text-align: center;
}
/* KONIEC - Add City Screen */