@IMPORT url("main.css");

/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
} /* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
} /* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
} /* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,select {
	vertical-align: middle;
}

body {
	margin: 0px !important;
	padding: 0px !important;
	overflow: auto;
}

.myPage { /* cala strona */
	position: relative !important;
	left: 0px !important;
	right: 0px !important;
	width: 100% !important;;
	max-width: 840px !important;
	text-align: center;
	margin: 0px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 0px !important;
	background: url("/img/layout/background.png") repeat #eee !important;
	-webkit-box-shadow: 3px 5px 38px -3px #000 !important;
	box-shadow: 3px 5px 38px -3px #000 !important;
}

.myPageContent { /* jqm'owy content */
	width: 100% !important;;
	max-width: 100% !important;
	margin: 0px !important;
	padding: 0px !important;
	overflow: hidden;
}

.myHeader {
	position: relative;
}

.malinaPanel { /* gorny pasek */
	height: 15px !important;
	background: url("/img/layout/headerBackgroundRed.png") repeat #BF2135
		!important;
}

.headerPanel { /* nagłwek dla buttonów i nazwy strony */
	position: relative;
	height: 44px;
	background: url("/img/layout/headerBackgroun.png") repeat-x #818181
		!important;
	text-align: center;
}

.headerTitle {
	margin: auto;
/* 	line-height: 70px; */
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: white;
}

.headerLeftButton {
	position: absolute;
	top: 6px;
	left: 7px;
}

.logoPanel { /* 	position: absolute  !important; */
	/* 	left: 40% !important; */ /* 	top: 47px !important; */
	/* 	margin-left: auto !important; */
	/* 	margin-right: auto !important; */
	
}

.logoPanel img {
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 4px;
}

.myButton {
	display: inline-block;
	min-width: 70px;
	/* 	height: 58px; */
	
	text-align: center;
	margin: 10px;
}

.borderButton {
	border: #656263 solid;
	border-width: 2px 1px 1px 1px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.borderLabel {
	line-height: 54px;
	text-align: center;
	border: #c1c1c1 2px solid !important;
	border-radius: 14px !important;
	-moz-border-radius: 14px !important;
	-webkit-border-radius: 14px !important;
}

.myTextLabel {
	margin-left: 10px;
	margin-right: 10px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 0px -2px #000;
}

.addButton {
	top: -5px !important;
	height: 34px;
	min-width: 34px !important;
	text-align: right;
	background: url("img/layout/plus.png") no-repeat;
}

.saveButton {
	top: -3px !important;
	height: 26px !important;
	background: url("img/layout/headerButtonBackground.png") !important;
	line-height: 26px !important;
}

.itemList {
	width: 100%;
	padding-left: 16px;
	border-bottom: 2px solid #b6b6b6;
	background-color: #FeFeFe;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #797979;
	text-align: left;
}

.itemList:FOCUS {
	background-color: #eed;
}

.arrowButtonPart {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 16px;
	height: 31px;
	background: url("img/layout/arrowForBackButton.png");
}

.labelBackButton {
	position: absolute;
	display: inline-block;
	
	left: 15px;
	
	/* 	min-width: 52px; */
	height: inherit;

	border: #656263 solid;
	border-width: 2px 2px 2px 0px;
	
	border-bottom-right-radius: 7px;
		-moz-border-bottom-right-radius: 7px;
		-webkit-border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
		-moz-border-top-right-radius: 7px;
		-webkit-border-top-right-radius: 7px;
		
	background: url("img/layout/backButtonBackground.png");
	-webkit-box-shadow: -1px 3px 3px -3px #fff !important;
	box-shadow: -1px 3px 3px -3px #fff !important;
}

.mainPanelBackButton {
	position: absolute;
	height: 26px;
	
	line-height: 26px;
}

.mainPanelBackButton:ACTIVE .myTextLabel {
	color: #eed;
}

.rightButton {
	position: absolute;
	right: 0px;
	margin-right: 7px !important
	/* 	top: 5px !important; */
/* 	min-width: 120px; */
/* 	margin-top: 0px; */
/* 	height: 70px; */
}

.noFocus,.noFocus:FOCUS {
	outline: none !important;
}

.hidden {
	display: none;
}

.pointer {
	cursor: pointer;
}

.arialBold, .restaurantInfoPanelLeftCelContainer *, .restaurantInfoPanelRightCellContainer * {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #797979;
}

.backgroundNone{
	background: none !important;
}
.borderNone{
	border: none !important;
}
/* 
 * panel z plusem po lewej stronie i labelką po prawej
 */
.plusPanel{
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	margin-top: 15px;
}
.plusPanelRightDiv{
	height: 44px !important;
    line-height: 44px !important;
}
.plusPanelRightDiv input{
	
	width: 100% !important;
	height: 44px !important;
    line-height: 44px !important;
    
    padding: 0px !important;
    margin: 0px !important;
    
}
.plusPanel, .plusPanelLeftDiv, .namePanel, .passwordPanel, .addBoardWrapper, .adminLabel,
.publishLabelWrapper, .itemList, .panelForArrow, .addWrapper, .headerTitle, .f,
.myListComboItem, .comboListItemLabel{
       height: 44px;
       line-height: 44px;
}
/*********************************
 * ogolny styl dla label i texBox*
 *********************************/
.myLabel,.myTextBox {
	float: left !important;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	background: #fff !important;
	border-top-left-radius: 14px !important;
	-moz-border-top-left-radius: 14px !important;
	-webkit-border-top-left-radius: 14px !important;
	border-bottom-left-radius: 14px !important;
	-moz-border-bottom-left-radius: 14px !important;
	-webkit-border-bottom-left-radius: 14px !important;
	text-align: left !important;
}

.myTextBox {
	display: inline-block !important;
}

/* KONIEC - ogolny styl dla label i texBox */
/* 
 * ogolny styl dla listy rozwijanej - MyListCombo.java
 */
.listCombo {
	position: relative;
	height: 44px;
/* 	background: url("/img/layout/listComboBackground.png") repeat-X #eee; */
	text-align: left;
}

.panelForArrow {
	position: relative;
	float: right;
	right: 0px;
	width: 15%;
	background: url("/img/layout/panelForArrowInComboListBackground.png")
		repeat-X #999;
}

.whiteArrow,.blackArrow {
	position: absolute !important;
	left: 30%;
	width: 0px;
	height: 0px;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

.whiteArrow {
	top: 12px;
	border-top: 18px solid rgba(255, 255, 255, 1);
}

.blackArrow {
	top: 17px;
	border-top: 18px solid rgba(0, 0, 0, 1);
}

.listComboScrollPanel {
	position: absolute !important;
	top: 15px;
	z-index: 101;
	width: 100%;
	max-height: 140px;
	background: url("/img/layout/comboListExpandedBackground.png") repeat-X #f5f5f5;
		-webkit-box-shadow: -6px 5px 12px -3px #000 !important;
	box-shadow: -6px 5px 12px -3px #000 !important;
	
	transition: max-height 0.5s;
		-moz-transition: max-height 0.5s;
		-webkit-transition: max-height 0.5s;
		-o-transition: max-height 0.5s;
}
.hideListComboScrollPanel{
	max-height: 0px !important;
}
.expandedPanel {
	
}

.myListComboItem {
	width: 100%;
/* 	height: 28px; */
}

.comboListItemLabel {
/* 	line-height: 30px; */
	margin-right: 10px;
	padding-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #797979;
}

.comboListLabel {
	position: absolute;
	top: 9px;
	right: 20%;
}

.selected {
	background-color: #e2abb2;
}
.myButton{
	line-height: 40px;	
}
/* KONIEC - ogulny styl dla listy rozwijanej */

/* Welcome mobile page */

.mobileNotification{
	min-height: 100px;
	margin: 20px;
	padding: 20px;
	border-radius: 13px;
	-webkit-box-shadow: 0px 0px 8px 0px black !important;
	box-shadow: 0px 0px 8px 0px black !important;
}
.messageMobile{
	font-size: 18px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.noThanksPanel, .getApp{
	max-width: 200px;
	margin: auto;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
}

.getApp{
	
	background: url("/img/layout/blackBackgroundButton.png");
	border-radius: 13px;
	-webkit-box-shadow: 0px 0px 8px 2px black !important;
	box-shadow: 0px 0px 8px 2px black !important;
	font-size: 18px;
	color: white;
}
.noThanksPanel{
	
	background: url("/img/layout/redBackgroundButton.png");
	line-height: 50px;
	border-radius: 13px;
	-webkit-box-shadow: 0px 0px 8px 2px black !important;
	box-shadow: 0px 0px 8px 2px black !important;
	font-size: 18px;
	color: white;
}
/* KONIEC Welcome mobile page */

/* Login screen */
.namePanel,.passwordPanel {
	/* panele na label i pole do wprowadzenia tekstu */
/* 	height: 44px !important; */
	margin: 20px 10px 0px 10px !important;
	padding: 0px;
	background: #fff !important;
	border: #c1c1c1 2px solid !important;
	border-radius: 14px !important;
	-moz-border-radius: 14px !important;
	-webkit-border-radius: 14px !important;
}

.namePanel {
	top: 115px;
}

.passwordPanel {
	top: 192px;
}

.loginButtonPanel { /* 	position: absolute; */ /* 	top: 360px; */
	/* 	right: 94px; */
	display: inline;
}

.nameLabel,.passwordLabel {
	min-width: 30% !important;
	height: inherit !important;
	margin-right: 10px !important;
	padding-right: 10px !important;
	border-right: solid !important;
	border-right-width: 2px !important;
	border-right-color: #c1c1c1 !important;
/* 	line-height: 45px !important; */
	text-align: right !important;
	color: #8a8b8e !important;
	font-weight: bold !important;
	font-size: 15px !important;
}

.nameBox,.passwordBox,.nameBox:FOCUS,.passwordBox:FOCUS, .plusPanelRightDiv input, .plusPanelRightDiv input:FOCUS {
	height: inherit !important;
	width: 60% !important;
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
	background: #fff !important;
	background-image: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none !important;
}

.languageCombo { /* 	position: absolute; */ /* 	right: 94px; */
	/* 	top: 300px; */
	display: none;
}

.footerWithFlags{
	width: 100%;
	max-width: 840px;
	height: 40px;
	position: fixed;
	bottom: 15px;
}

.polishFlag{
/* 	background: url("/img/layout/pl.png"); */
	float: left;
	margin-left: 10px;
}

.frenchFlag{
/* 	background: url("/img/layout/fr.png"); */
	
}

.englishFlag{
/* 	background: url("/img/layout/gb.png"); */
	float: right;
	margin-right: 10px;
}

.polishFlag, .frenchFlag, .englishFlag{
	width: 80px;
	height: 40px;
	display: inline-block;
	text-align: center;

}
.polishFlag img, .frenchFlag img, .englishFlag img{
	-webkit-box-shadow: 0px 0px 8px 0px black !important;
	box-shadow: 0px 0px 8px 0px black !important;
}

/* KONIEC - Login screen */
/*
 * Add City Screen
 */
.addCityWrapper {
	position: relative;
	width: 90%;
	margin-top: 10px;
	text-align: center;
	margin-left: 5%;
}
/* KONIEC - Add City Screen */
/* Add Restaurant Screen */
.containerPanelAddRestaurant {
	margin: 20px 10px 130px 10px !important;
	border-radius: 20px;
	border: #c1c1c1 2px solid !important;
	background: white;
}

.addRestaurantLabel {
	min-width: 30% !important;
	max-width: 30% !important;
	height: inherit !important;
	margin-right: 10px !important;
	padding: 0px 0px 0px 10px !important;
	text-align: left !important;
	color: #8a8b8e !important;
	border-right: #C1C1C1 2px solid !important;
	/* 	float: left !important; */
/* 	padding-top: 17px; */
/* 	padding-right: 10px; */
/* 	text-align: right; */
}

.addRestaurantInput {
	width: 60% !important;
	height: inherit !important;
	margin: 0px !important;
	padding: 0px !important;
	/* 	margin-right: 20px; */ /* 	float: right; */
	background: none !important;
	border: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none !important;
}

.addRestaurantInputWrapper {
	display: inline;
}

.addRestaurantLabelWrapper {
	display: inline-block;
	min-width: 25%;
	max-width: 25%;
	border-right: #c1c1c1 2px solid !important;
	height: 100%;
}

.addWrapper {
	margin: 0px 0px 0px 0px !important;
	padding: 0px;
	background: #fff !important;
	border: none !important;
	border-bottom: #c1c1c1 2px solid !important;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}

.addWrapper:first-child {
	border-top: none !important;
	border-top-left-radius: 14px !important;
	-moz-border-top-left-radius: 14px !important;
	-webkit-border-top-left-radius: 14px !important;
	border-top-right-radius: 14px !important;
	-moz-border-top-right-radius: 14px !important;
	-webkit-border-top-right-radius: 14px !important;
}

.addWrapper:last-child {
	border-bottom-left-radius: 14px !important;
	-moz-border-bottom-left-radius: 14px !important;
	-webkit-border-bottom-left-radius: 14px !important;
	border-bottom-right-radius: 14px !important;
	-moz-border-bottom-right-radius: 14px !important;
	-webkit-border-bottom-right-radius: 14px !important;
	border-bottom: none !important;
}

.addBoardWrapper {
	display: inline-block;
	float: right;
	width: 60%;
	margin-top: -90px;
	margin-right: 5%;
	margin-bottom: 15px;
	background: url("img/layout/boardBackground.png");
	border: #c1c1c1 2px solid !important;
	border-top: none;
}

.addBoardLabel {
	position: absolute;
	padding-left: 10px;
	color: #8a8b8e;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
}

.adminButtonDiv {
	clear: both;
}

.adminLabelDiv {
	
}

/* KONIEC - Add Restaurant Screen */
/* City list screen*/
.adminWrapper {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	margin-top: 15px;
}

.adminLabel {
	display: block;
/* 	float: right; */
/* 	width: 60%; */
	margin-right: 13px;
	margin-left: 60px;
	border: #C1C1C1 2px solid !important;
	border-radius: 14px !important;
	-moz-border-radius: 14px !important;
	-webkit-border-radius: 14px !important;
	background: white !important;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.adminButton {
	display: inline-block;
	margin-left: 20px;
	float: left;
}

/* KONIEC - City list screen*/
/* Nowy widok restauracji - Restaurant Image View */
.leftButton { /* 	top: 5px !important; */
	
}

.infoContainer {
	width: 100%;
	height: 130px;
	margin-bottom: 40px;
	display: inline-block;
	text-align: left;
}

.logoImage {
	width: 220px;
	margin-top: 30px;
	margin-left: 20px;
	float: left;
}

.logoImageWrapper {
	display: inline-block;
}

.infoText {
	
}

.infoTextWrapper {
	display: inline-block;
	margin-left: 15px;
	height: 50px;
	line-height: 25px;
	font-weight: bold;
}

.swipeContainer {
	width: 100%;
/* 	height: 500px; */
	height: 100%;
	background: white;
	padding-bottom: 40px;
}

.publishWrapper {
	width: 100%;
	height: 100px;
	display: inline-block;
	margin-top: 30px;
	line-height: 100px;
	text-align: left;
}

.publishImage {
	display: inline-block;
	float: left;
	
	margin-left: 20px;
	margin-top: -60px;
}
.publishImage img{
	display: inline-block;
}
.publishLabelWrapper {
	display: block;
/* 	float: right; */
/* 	width: 60%; */
	margin-right: 13px;
	margin-left: 60px;
	border: 2px solid #C1C1C1;
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	background: white;
	text-align: left;
	padding-left: 15px;
	font-weight: bold;
	font-size: 15px;
	color: #8a8b8e;
}

.editPanel { /* 	display: none; */
	height: 0px;
	overflow: hidden;
	transition: height 0.5s;
	-moz-transition: height 0.5s;
	-webkit-transition: height 0.5s;
	-o-transition: height 0.5s;
}

.formLogoUpload {
	opacity: 0;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.fileLogoUplaod {
	width: 100%;
	height: 100%;
}

.rotatedPlus {
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

.addBoardWrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.addBoardWrap img {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 220px;
	margin: 0px !important;
}

.editImagePanel {
	position: absolute;
	width: 100%;
	height: 15px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.5);
	display: block;
}

.editLabelImage {
	text-align: center;
	line-height: 15px;
	font-size: 14px;
	color: #fff;
}

.deleteProfile {
	height: 50px;
	position: relative;
	background: url("/img/layout/redBackgroundButton.png");
	border-radius: 13px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 90px;
	margin-bottom: 20px;
	line-height: 50px;
	font-size: 18px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-box-shadow: 0px 0px 8px 0px black !important;
	box-shadow: 0px 0px 8px 0px black !important;
}

.deletePanel {
	position: fixed;
	bottom: 0px;
	height: 0px;
	width: 100%;
	max-width: 840px;
	z-index: 100;
	margin-top: 0px;
	border-top: 2px solid black;
	background-image: linear-gradient(bottom, rgb(115, 120, 130) 0%,
		rgb(172, 174, 179) 100% );
	background-image: -o-linear-gradient(bottom, rgb(115, 120, 130) 0%,
		rgb(172, 174, 179) 100% );
	background-image: -moz-linear-gradient(bottom, rgb(115, 120, 130) 0%,
		rgb(172, 174, 179) 100% );
	background-image: -webkit-linear-gradient(bottom, rgb(115, 120, 130) 0%,
		rgb(172, 174, 179) 100% );
	background-image: -ms-linear-gradient(bottom, rgb(115, 120, 130) 0%,
		rgb(172, 174, 179) 100% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(115,
		120, 130) ), color-stop(1, rgb(172, 174, 179) ) );
	opacity: 0.95;
	overflow: hidden;
	transition: height 0.5s;
	-moz-transition: height 0.5s;
	-webkit-transition: height 0.5s;
	-o-transition: height 0.5s;
}


.cancelDeleteProfile {
	height: 50px;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 20px;
	background: url("/img/layout/blackBackgroundButton.png");
	line-height: 50px;
	border-radius: 13px;
	-webkit-box-shadow: 0px 0px 8px 2px black !important;
	box-shadow: 0px 0px 8px 2px black !important;
	font-size: 18px;
	color: white;
}

.deleteProfileConfirmed {
	height: 50px;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 20px;
	background: url("/img/layout/redBackgroundButton.png");
	line-height: 50px;
	border-radius: 13px;
	-webkit-box-shadow: 0px 0px 8px 2px black !important;
	box-shadow: 0px 0px 8px 2px black !important;
	font-size: 18px;
	color: white;
}

.deletePanelWhiteBackground {
	height: 50px;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 20px;
	background: url("/img/layout/grayBackgroundButton.png");
	line-height: 50px;
	border-radius: 13px;
	-webkit-box-shadow: 0px 0px 8px 2px black !important;
	box-shadow: 0px 0px 8px 2px black !important;
	font-size: 18px !important;
	color: black;
	font-weight: bold;
}
.addFlowPanel{
	position: relative;
}
.addFlowPanel form *{
	width: 100% !important;
	height: 100% !important;
}
.removeBoard{
	
}
/* KONIEC -  Restaurant Image View*/
/* LastUploadedImages */
.imgWrapper {
	margin: 10px;
	border: 2px solid black;
	display: block;
	padding: 10px;
}

.lastUploadedImage {
	width: 200px;
	display: inline-block;
}

.lastUploadedDeleteButton {
	
}

.lastUploadedName {
	margin: 10px;
	font-weight: bold;
}

/* KONIEC -  LastUploadedImages*/
/*MyImage*/
.imagePanel,.image {
	height: 70px;
}

.imagePanel {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	margin-right: 10px;
	padding-top: 50px;
}

.image { /* 	margin-right: 10px; */
	
}

.imageSelected {
	border: #00a62d 4px solid;
	border-radius: 5px;
}

.myImageEditPanel {
	
}
/* KONIEC -  MyImage*/
/* MyRestaurantInfoPanel */
.restaurantInfoPanel{
	position: relative;
}

.restaurantInfoPanelRow{
	position: relative;
	display: list-item;
	
	height: 44px;
	
    line-height: 44px;
    list-style: none;
	
	border-top: #C1C1C1 2px solid;
	
}
.restaurantInfoPanelRow:FIRST-CHILD{
	border-top: none;;
}
.restaurantInfoPanelLeftCelContainer, .restaurantInfoPanelRightCellContainer{
	
	padding: 0px 0px 0px 10px;
	
	height: 44px;
    line-height: 44px;
	text-align: left;
	color: #79797A;
	
}

.restaurantInfoPanelLeftCelContainer{
	float: left;
	clear: left;
	
	
}
.restaurantInfoPanelRightCellContainer{
	position: relative;
	border-left: #C1C1C1 2px solid ;
}
/* KONIEC MyRestaurantInfoPanel*/



