@IMPORT url("main.css");

body{ 
	margin: 0px !important;
	padding: 0px !important;
}

.myPage{ /* cala strona */
	background: url("/img/layout/background.png") repeat #eee !important;
	width: 960px  !important;;
	max-width: 960px  !important;
	
	margin: 0px !important;
	padding: 0px !important;
	
	position: relative  !important;
	left: 0px  !important;
	right: 0px  !important;
	margin-left: auto  !important;
	margin-right: auto  !important;
}
.myPageContent{ /* jqm'owy content */

	margin: 0px !important;
	padding: 0px !important;
	
	width: 960px  !important;;
	max-width: 960px  !important;
}
.myHeader{
	position: relative;
}
.malinaPanel{  /* gorny pasek */
	height: 30px  !important;
	background: url("/img/layout/headerBackgroundRed.png") repeat #BF2135  !important;
}
.headerPanel{  /* nagłwek dla buttonów i nazwy strony */
	height: 70px;
	background: url("/img/layout/headerBackgroun.png") repeat-x #818181  !important;
}
.logoPanel{
	position: absolute  !important;

	left: 391px !important;
	top: 47px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.myButton{
	width: 120px;
	height: 58px;
	display: inline-block;
}
.borderButton{
	line-height: 54px ;
	text-align: center ;
	
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	border: #656263 solid;
	border-width: 2px 1px 1px 1px;
}
.borderLabel{
	line-height: 54px ;
	text-align: center ;
	
	-moz-border-radius: 14px !important
	-webkit-border-radius: 14px !important;
	border-radius: 14px !important;
	border: #c1c1c1 2px solid !important ;
}
.myTextLabel{
	color: #fff;
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0px -2px #000;
	
}
/* ogolny styl dla label i texBox */
.myLabel, .myTextBox{
	background: #fff !important;
	float: left !important;
	
	-moz-border-top-left-radius: 14px !important;
	-webkit-border-top-left-radius: 14px !important;
	border-top-left-radius: 14px !important;
	
	-moz-border-bottom-left-radius: 14px !important;
	-webkit-border-bottom-left-radius: 14px !important;
	border-bottom-left-radius: 14px !important;
}
.myTextBox{
	display: inline-block !important;
}

/* KONIEC - ogolny styl dla label i texBox */

/* ogulny styl dla listy rozwijanej - MyListCombo.java*/
.listCombo{
	position: relative;
	background: url("/img/layout/listComboBackground.png") repeat-X #eee;
	width: 400px;
	height: 59px;
	text-align: right;
}
.panelForArrow{
	position: absolute;
	right: 0px;
	width: 62px;
	height: 57px;
		
	background: url("/img/layout/panelForArrowInComboListBackground.png") repeat-X #999;
	width: 62px;
	height: 57px;
}
.whiteArrow, .blackArrow{
	position: absolute !important;

	left: 20px;
	
	width: 0px;
	height:0px;
	
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
.whiteArrow{
	top: 20px;
	border-top: 18px solid rgba(255, 255, 255, 1);
}
.blackArrow{
	top: 25px;
	border-top: 18px solid rgba(0, 0, 0, 1);
}
.listComboScrollPanel{
	position: absolute !important;
	width: 331px;
	height: 95px;
	top: 15px;
	z-index: 1;
	background: url("/img/layout/comboListExpandedBackground.png") repeat-X #f5f5f5;
	
  	-webkit-box-shadow: -6px 5px 12px -3px #000 !important;
          	box-shadow: -6px 5px 12px -3px #000 !important;
}
.expandedPanel{
	
}
.myListComboItem{
	width: 330px;
	height: 28px;
}

.comboListItemLabel{
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #797979;
}
.comboListLabel{
	position: absolute;
	right: 70px;
	top: 15px;
}
.selected{
	background-color: #e2abb2;
}
/* KONIEC - ogulny styl dla listy rozwijanej */

.noFocus, .noFocus:FOCUS{
	outline: none !important;
}
.hidden{
	display: none;
}
 /* Login screen */
.namePanel, .passwordPanel{  /* panele na label i pole do wprowadzenia tekstu */
	height: 60px !important;
	width: 80% !important;

	margin: 20px 0px 0px 0px !important;

	background: #fff !important;
	position: absolute !important;
	
	right: 94px !important;

	padding: 0px;
	
	-moz-border-radius: 14px !important
	-webkit-border-radius: 14px !important;
	border-radius: 14px !important;
	border: #c1c1c1 2px solid !important ;
}
.namePanel{
	top: 115px;
}
.passwordPanel{
	top: 192px;
}
.loginButtonPanel{
	position: absolute;
	right: 94px;
	top: 360px;
}
.nameLabel, .passwordLabel{
	height: inherit !important;
	line-height: 60px !important;
	
	text-align: right !important;
	color: #8a8b8e !important;
	font-weight: bold !important;
	font-size: 18px !important;
	
	margin-right: 10px !important;
	padding-right: 10px !important;
	border-right: solid !important;
	border-right-width: 2px !important;
	border-right-color: #c1c1c1 !important;
	
	min-width: 35% !important;	
}
.nameBox, .passwordBox, .nameBox:FOCUS, .passwordBox:FOCUS{
	height: inherit !important;
	width: 60% !important;	
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
	background: #fff !important;
	background-image: none !important;
	
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none !important;
}
.languageCombo{
	position: absolute;
	right: 94px;
	top: 300px;
}

 /* KONIEC - Login screen */
