<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <welcome-file-list>
    <welcome-file>MenuMenuMobileWeb.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>StoreServiceServlet</servlet-name>
    <servlet-class>com.veliasystems.menumenu.server.StoreServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StoreServiceServlet</servlet-name>
    <url-pattern>/menumenumobileweb/store</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FillCityId</servlet-name>
    <servlet-class>com.veliasystems.menumenu.server.FillCityIdInRestaurantsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FillCityId</servlet-name>
    <url-pattern>/FillCityId</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BlobStoreServlet</servlet-name>
    <servlet-class>com.veliasystems.menumenu.server.BlobServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BlobStoreServlet</servlet-name>
    <url-pattern>/menumenumobileweb/blobstore</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>BlobUploadServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.BlobUploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>BlobUploadServlet</servlet-name>
     <url-pattern>/blobUpload</url-pattern>
  </servlet-mapping>

    <servlet>
     <servlet-name>BlobServeServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.BlobServeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>BlobServeServlet</servlet-name>
     <url-pattern>/blobServe</url-pattern>
  </servlet-mapping>





    <servlet>
     <servlet-name>GetCitiesServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.GetCitiesServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>GetCitiesServlet</servlet-name>
     <url-pattern>/getCities</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>GetRestaurantsServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.GetRestaurantsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>GetRestaurantsServlet</servlet-name>
     <url-pattern>/getRestaurants</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>ServiceServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.ServiceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>ServiceServlet</servlet-name>
     <url-pattern>/service</url-pattern>
  </servlet-mapping>


  
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

  

</web-app>