<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <welcome-file-list>
    <welcome-file>MenuMenuMobileWeb.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>StoreServiceServlet</servlet-name>
    <servlet-class>com.veliasystems.menumenu.server.StoreServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StoreServiceServlet</servlet-name>
    <url-pattern>/menumenumobileweb/store</url-pattern>
  </servlet-mapping>
  
<!--   <servlet> --><!-- Unused  -->
<!--     <servlet-name>FillCityId</servlet-name> -->
<!--     <servlet-class>com.veliasystems.menumenu.server.FillCityIdInRestaurantsServlet</servlet-class> -->
<!--   </servlet> -->

<!--   <servlet-mapping> -->
<!--     <servlet-name>FillCityId</servlet-name> -->
<!--     <url-pattern>/FillCityId</url-pattern> -->
<!--   </servlet-mapping> -->
  
  <servlet>
    <servlet-name>GetRestaurantsInArea</servlet-name>
    <servlet-class>com.veliasystems.menumenu.server.api.GetRestaurantsInArea</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetRestaurantsInArea</servlet-name>
    <url-pattern>/GetRestaurantsInArea</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BlobStoreServlet</servlet-name>
    <servlet-class>com.veliasystems.menumenu.server.BlobServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BlobStoreServlet</servlet-name>
    <url-pattern>/menumenumobileweb/blobstore</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmailStoreServlet</servlet-name>
    <servlet-class>com.veliasystems.menumenu.server.EmailServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EmailStoreServlet</servlet-name>
    <url-pattern>/menumenumobileweb/email</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>BlobUploadServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.BlobUploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>BlobUploadServlet</servlet-name>
     <url-pattern>/blobUpload</url-pattern>
  </servlet-mapping>

    <servlet>
     <servlet-name>BlobServeServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.BlobServeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>BlobServeServlet</servlet-name>
     <url-pattern>/blobServe</url-pattern>
  </servlet-mapping>


   <servlet>
     <servlet-name>GetRestaurantsHTMLOutput</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.GetRestaurantsHTMLOutput</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>GetRestaurantsHTMLOutput</servlet-name>
     <url-pattern>/getRestaurantsHTMLOutput</url-pattern>
  </servlet-mapping>



    <servlet>
     <servlet-name>GetCitiesServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.GetCitiesServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>GetCitiesServlet</servlet-name>
     <url-pattern>/getCities</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>GetRestaurantsServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.GetRestaurantsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>GetRestaurantsServlet</servlet-name>
     <url-pattern>/getRestaurants</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>ServiceServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.ServiceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>ServiceServlet</servlet-name>
     <url-pattern>/service</url-pattern>
  </servlet-mapping>

<!--   <servlet> -->
<!--      <servlet-name>AddAdminServlet</servlet-name> -->
<!--      <servlet-class>com.veliasystems.menumenu.server.api.AddAdmin</servlet-class> -->
<!--   </servlet> -->

<!--   <servlet-mapping> -->
<!--      <servlet-name>AddAdminServlet</servlet-name> -->
<!--      <url-pattern>/addAdmin</url-pattern> -->
<!--   </servlet-mapping> -->
  
  <servlet>
     <servlet-name>GetUploadUrl</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.GetUploadUrl</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>GetUploadUrl</servlet-name>
     <url-pattern>/getUploadUrlt</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>GetAllDataServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.mobile.GetAllDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>GetAllDataServlet</servlet-name>
     <url-pattern>/getAllDataServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
     <servlet-name>GetRestaurantsForUser</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.mobile.GetRestaurants</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>GetRestaurantsForUser</servlet-name>
     <url-pattern>/getRestaurantsForUser</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PublishRestaurantServlet</servlet-name>
    <servlet-class>com.veliasystems.menumenu.server.api.mobile.PublishRestaurantServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PublishRestaurantServlet</servlet-name>
    <url-pattern>/publishRestaurant</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>SetAsMainImage</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.mobile.SetAsMainImage</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>SetAsMainImage</servlet-name>
     <url-pattern>/setAsMainImage</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>GetRestaurantServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.mobile.GetRestaurantServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>GetRestaurantServlet</servlet-name>
     <url-pattern>/getRestaurantServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>FileUploadServer</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.FileUploadServer</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>FileUploadServer</servlet-name>
     <url-pattern>/fileUploadServer</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>RunFixedImageTask</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.RunFixedImageTask</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>RunFixedImageTask</servlet-name>
     <url-pattern>/tasks/runFixedImageTask</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>CopyDataTask</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.tasks.CopyDataTask</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>CopyDataTask</servlet-name>
     <url-pattern>/tasks/copyDataTask</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>FixedImagesTask</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.tasks.FixedImagesTask</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>FixedImagesTask</servlet-name>
     <url-pattern>/tasks/fixedImagesTask</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>RestoreTask</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.tasks.RestoreTask</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>RestoreTask</servlet-name>
     <url-pattern>/tasks/RestoreTask</url-pattern>
  </servlet-mapping>
  
    <servlet>
     <servlet-name>BackUpTask</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.tasks.BackUpTask</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>BackUpTask</servlet-name>
     <url-pattern>/tasks/BackUpTask</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
     <servlet-name>GetLogsServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.GetLogsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>GetLogsServlet</servlet-name>
     <url-pattern>/getLogsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>GetBackup</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.GetBackup</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>GetBackup</servlet-name>
     <url-pattern>/getBackp</url-pattern>
  </servlet-mapping>
  
    <servlet>
     <servlet-name>Restore</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.api.Restore</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>Restore</servlet-name>
     <url-pattern>/restore</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
     <servlet-name>FixGeocodingServlet</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.repairServlets.FixGeocodingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>FixGeocodingServlet</servlet-name>
     <url-pattern>/fixGeocodingServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
     <servlet-name>SelectAgainAllMenuImages</servlet-name>
     <servlet-class>com.veliasystems.menumenu.server.repairServlets.SelectAgainAllMenuImages</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>SelectAgainAllMenuImages</servlet-name>
     <url-pattern>/selectAgainAllMenuImages</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
      <web-resource-collection>
          <url-pattern>/tasks/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>admin</role-name>
      </auth-constraint>
  </security-constraint>

</web-app>